Django
pandas
numpy
matplotlib
seaborn
Pillow
django-crispy-forms
crispy-bootstrap5

django-leaflet
django-filter
django-tables2
django-import-export
django-debug-toolbar
djangorestframework

openpyxl
whitenoise